body {
  background-image: url("background.jpg");
}

.projects-container {
  margin-top: 8rem;
  color: white;
}

section a {
  color: white;
}

h3 {
  font-size: 1.9rem;
  margin-top: 5px;
  margin-bottom: 1rem;
}

section ul {
  margin-top: 1rem;
  margin-left: 0.1rem;
  display: grid;
  grid-template-columns: 10% 90%;
  justify-content: start;
  font-size: 1rem;
  width: 1300px;
  min-height: 300px;
}

.website {
  padding: 0.6rem;
  margin-right: 7px;
  border: 1.3px solid rgb(157, 249, 36);
  background: var(--color-primary);
  color: white;
}

.grid {
  display: flex;
  justify-content: left;
  padding-top: 0.7rem;
}

.link-container {
  display: flex;
  justify-content: left;
  margin-bottom: 2rem;
}

.website-links {
  font-size: 1rem;
  padding: 0.6rem;
  border: 1.3px solid rgb(157, 249, 36);
  background-color: rgb(18, 1, 32);
  color: white;
  margin-left: 0.6rem;
}

@media (max-width: 911px) {
  section ul {
    grid-template-columns: 1fr;
    margin: 0.5px;
  }
}

@media (max-width: 600px) {
  section ul {
    grid-template-columns: 1fr;
    margin: 0.5px;
  }

  .website {
    display: none;
  }

  .website-links {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 5px;
    font-size: 11px;
  }
}
