:root {
  --color-primary: rgb(73, 61, 121);
  --color-background: rgb(235, 204, 159);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-primary);
  letter-spacing: 3px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-menu a {
  font-size: 1.2rem;
  color: whitesmoke;
  background: var(--color-primary);
}

.nav a,
h4 {
  color: whitesmoke;
}
.nav-menu a:hover nav button {
  display: none;
}

.main-picture {
  display: block;
  object-fit: cover;
}

main {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.main-container {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: start;
  gap: 5rem;
  height: 100%;
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 1000px;
}

.text-left {
  display: flex;
  justify-content: left;
  padding-top: 10rem;
  opacity: 0.7;
}

main h1 {
  font-size: 4.5em;
  font-weight: bold;
  color: rgb(39, 12, 56);
  margin-top: 6.5rem;
}

main h2 {
  text-align: center;
  font-size: 3.8rem;
  margin-top: 1rem;
  color: white;
}

main h3 {
  font-size: 2.8rem;
  text-align: center;
  color: white;
}

@media (max-width: 1025px) {
  .main-container {
    grid-template-columns: 25% 75%;
  }

  h1 {
    font-size: 1rem;
  }
}

@media (max-width: 860px) {
  .main-container {
    grid-template-columns: 30% 70%;
  }
}

@media (max-width: 600px) {
  .main-container {
    grid-template-columns: 1fr;
    padding: 0 10px;
    margin-top: -150px;
    min-height: 900px;
  }

  h2,
  h3 {
    display: none;
  }

  h1 {
    font-size: 0.2rem;
  }

  .main-picture {
    width: 24.5rem;
    height: 20rem;
    margin-left: 3.5rem;
  }
}

@media (max-width: 430px) {
  .main-picture {
    width: 17rem;
    height: 18rem;
    margin-top: -9rem;
  }

  h1 {
    text-align: center;
  }
}
